

#analyzeButton {
  font-family: inherit;
  background-color: #ff9f1c;
  cursor: pointer;
  transition: 0.3s;
  border: 0px;
  height: 50px;
  margin-bottom: 10px;
  color: white;
  box-sizing: border-box;
  width: 5vw;
}

 #analyzeButton:hover {
  background-color: rgb(174, 113, 2);
}

#searchIcon {
  width: 30px;
}

@media screen and (max-width: 745px) {
  #analyzeButton {
    width: 500px;
  }
}
@media screen and (max-width: 620px) {
  #analyzeButton {
    width: 450px;
    height: 45px;
  }
}
@media screen and (max-width: 460px) {
  
  #analyzeButton {
    width: 90vw;
    height: 6vh;
    margin-bottom: 2em;
  }
}
