#analyzeButton {
  background-color: #ff9f1c;
  cursor: pointer;
  transition: 0.1s;
  border: 0px;
  height: 50px;
  width: 60px;
  margin-bottom: 1em;
}

#analyzeButton:hover {
  background-color: rgb(174, 113, 2);
}

#searchIcon {
  width: 30px;
}

@media screen and (max-width: 745px) {
  #analyzeButton {
    width: 500px;
  }
}
@media screen and (max-width: 620px) {
  #analyzeButton {
    width: 450px;
    height: 45px;
  }
}
@media screen and (max-width: 500px) {
  #analyzeButton {
    width: 350px;
    height: 50px;
    margin-bottom: 2em;
  }
}
