#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  opacity: 1;
}



/* @media screen and (max-device-height: 710) {
  #root {
    overflow-y: scroll;
  }
  .background {
    padding: 2em 0em;
  }
}
@media screen and (min-device-height: 711) {
  #root {
    overflow-y: hidden;
  }
} */
