

/* Commented out for time being due to formatting issues on Mobile. */
/* .footer {
    background-color: #122455;
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: em;
    width: 90vw;
} */