/* Commented out for time being due to formatting issues on Mobile. */
#footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #F1F1F1;
}

#footer #footerImageContainer {
  display: flex;
  justify-content: space-evenly;
}

#footer .footerImage {
  display: flex;
  width: 200px;

  object-fit: contain;
}
.copyright {
  margin: 5em 0em;
  color: black;
}

@media screen and (max-width:550px) {
  #footer #footerImageContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
  }
  #footer .copyright {
    margin: 1em 0em;
  }
  #footer .footerHeading {
    margin: 0;
  }
}