.logo-row {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 10;
}
/*  */
.logo-row #logo {
  width: 150px;
  max-height: 50px;
  align-self: center;
  object-fit: cover;
  cursor: pointer;
}


#navTitle {
    font-size: 3em;
    padding-left: 0.5em;
    font-weight: 800;
}

.navLinks {
  color: black;
  font-weight: 600;
  font-size: 1.35em;
  cursor: pointer;
}

.navLinks::after {
  content: '';
  position: absolute;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 0;
  background: #ff9f1c;
  transition: width .3s;
}

.navLinks:hover::after {
  width:100%;
}

.navLinks:hover {
  color: black;
}
