#RemovePhotoButton {
  position: relative;
  top: 20px;
  left: 80px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  opacity: 0.8;
  border: none;
}

#RemovePhotoButton:hover{
  cursor: pointer;
}
