
.takePhotoButton {
  font-size: 1.15em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff9f1c;
  cursor: pointer;
  width: 500px;
  transition: 0.1s;
  border: 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 25px 0px;
}

.takePhotoButton:hover {
  background-color: rgb(174, 113, 2);
}

.displayImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.displayImage img {
  width: 250px;
}

#photoIcon {
  width: 1.5em;
  margin-left: 1em;
  filter: invert(1);
}

@media screen and (max-width:500px) {
  .takePhotoButton{
    width: 350px;
    margin: 0px;
  }
  .displayImage img {
    height: 150px;
    width: 150px;
    object-fit: contain;
  }
}

