#locationFormResult {
  z-index: 10;
  position: relative;
  top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputBoxResult {
  width: 300px;
  height: 50px;
  margin-bottom: 1em;
  border: 0;
  font-size: 1em;
  text-align: left;
  width: 330px;
  background-color: rgb(199, 199, 199);
  padding: 0em 1em;
  box-sizing: border-box;
  color: rgb(46, 46, 46);
  z-index: 10;
}
.inputBoxResult:first-child {
  margin-right: 2px;
}

.pac-container {
  z-index: 1500 !important; /* Ensure it's above the AppBar */
}

@media screen and (max-width: 745px) {
  #formSubmit {
    flex-direction: column;
  }
  #formSubmit form {
    flex-direction: column;
    align-items: center;
  }
  .inputBoxResult {
    width: 500px;
    margin-bottom: 1em;
    text-align: center;
  }
  .inputBoxResult:first-child {
    margin-right: 0px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1035px) {
  /* #locationForm {
    width: 200px;
    height: 45px;
  } */
  .inputBoxResult {
    width: 300px;
    /* height: 45px; */
  }
}

@media screen and (max-width: 950px) {
  .inputBoxResult {
    width: 250px;
    /* height: 45px; */
  }
}
@media screen and (max-width: 850px) {
  .inputBoxResult {
    width: 200px;
    /* height: 35px; */
  }
  /* #locationForm h4 {
    font-size: 0.9em;
  }
  #locationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
  } */
}

@media screen and (max-width: 760px) {
  .inputBoxResult {
    width: 200px;
    /* height: 45px; */
  }
  #locationFormResult {
    display: none;
  }
}