.logo-row {
  display: flex;
  font-size: 7px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 10;
}
/*  */
.logo-row img {
  min-width: 50px;
  min-height: 50px;
  align-self: center;
  margin: 0px 8px;
}

.logo {
  width: 5em;
}

#navTitle {
    font-size: 3em;
    padding-left: 0.5em;
}

