/* Base styles for card layout */
html, body {
    font-family: Inter;
}

/* .card {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 10px;
}

.row-info {
    display: flex;
}

.row-info h1 {
    font-size: 18px;
}

.row-info img {
    margin-right: 30px;
}

.row-info p {
    font-size: 12px;
    justify-content: center;
}

.card span {
    font-size: 14px;
    color: #3B60C4;
    display: flex;
    margin-top: 14px;
    margin-left: 14px;
} */

/* Media queries for mobile and desktop */

/* [MOBILE VERSION CSS] */
@media screen and (max-width: 480px) {
    .card {
        width: 90%; /* Adjust width for mobile */
        flex-direction: column; /* Stack elements vertically on mobile */
        align-items: center; /* Center elements on mobile */
    }

    .row-info img {
        width: 100px;
        max-width: 100px;
        margin-right: 0; 
        margin-bottom: 10px;
    }


    .card {
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-size: 10px;
    }
    
    .row-info {
        display: flex;
    }
    
    .row-info h1 {
        font-size: 18px;
    }
    
    .row-info img {
        margin-right: 30px;
    }
    
    .row-info p {
        font-size: 12px;
        justify-content: center; /* You may want to adjust this */
    }
    
    /*RATINGS AND REVIEWS */
    .card span {
        font-size: 14px;
        color: #3B60C4;
        display: flex;
        margin-top: 14px;
        margin-left: 14px;
    }
}


/*[DESKTOP CSS] */
@media screen and (min-width: 1080px) {
    .card {
        display: flex;
        justify-content: space-between;
        width: 50%;
        font-size: 10px;
    }
    
    .row-info {
        display: flex;
    }
    
    .row-info h1 {
        font-size: 30px;
        font-weight: bold;
    }
    
    .row-info img {
        margin-right: 30px;
        height: 400px;
        width: 400px;
        max-height: 400px;
        max-width: 400px;
        min-height: 400px;
        min-width: 400px;
    }
    
    .row-info p {
        font-size: 24px;
        justify-content: center; /* You may want to adjust this */
    }
    
    /*RATINGS AND REVIEWS */
    .card span {
        font-size: 20px;
        color: #3B60C4;
        display: flex;
        margin-top: 18px;
        margin-left: 14px;
    }
}
