/* Base styles for card layout */
html,
body {
  font-family: Inter;
}

/* Changes color text to white*/
h1,
h2,
h3,
h4,
p {
  color: black;
}

.card {
  transition: 0.4s;
  border-bottom: 10px solid #ff9f1c;
}

.card:hover {
  transition: 0.5s;
  background-color: #ff9f1c;
}

/* Media queries for mobile and desktop */

/* [MOBILE VERSION CSS] */

@media screen and (max-device-width: 550px) {
  .card {
    margin: 2em 0em;
    height: 625px;
    opacity: 0; /* Start with the card invisible */
    transition: opacity 1s ease-out; /* Smooth transition for the opacity */
    will-change: opacity; /* Optimize the opacity property for animations */
  }

  .card.is-visible {
    opacity: 1; /* Full opacity when the card is in view */
  }

  .row-info {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .row-info h2,
  h3,
  p,
  span {
    padding-left: 1em;
  }
  .row-info h1 {
    padding-left: 0.5em;
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imageContainer {
    width: 100%; /* Adjust to your desired width */
    height: 270px; /* Adjust to your desired height */
  }
}

@media screen and (min-device-width: 550px) and (max-device-width: 810px) {
  .card {
    margin: 1em 0em;
    width: 500px;
    height: 600px;
    opacity: 0; /* Start with the card invisible */
    transition: opacity 1s ease-out; /* Smooth transition for the opacity */
    will-change: opacity; /* Optimize the opacity property for animations */
  }

  .card.is-visible {
    opacity: 1; /* Full opacity when the card is in view */
  }

  .row-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imageContainer {
    width: 100%; /* Adjust to your desired width */
    height: 300px; /* Adjust to your desired height */
  }
}

/*[DESKTOP CSS] */
@media screen and (min-width: 810px) {
  .card {
    height: 320px;
    opacity: 0; /* Start with the card invisible */
    transition: opacity 0.5s ease-out; /* Smooth transition for the opacity */
    will-change: opacity; /* Optimize the opacity property for animations */
    margin: 0px 50px;
  }

  .card.is-visible {
    opacity: 1; /* Full opacity when the card is in view */
  }

  .row-info {
    width: 90vw;
    display: flex;
    padding-bottom: 2em;
  }

  .row-info h1 {
    font-size: 2em;
    font-weight: 800;
    text-align: left;
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .row-info p {
    font-size: 1.1em;
    font-weight: 500;
    text-align: left;
  }

  /*RATINGS AND REVIEWS */
  .card span {
    font-size: 1em;
    color: #132151;
    display: flex;
  }
  .imageContainer {
    width: 500px; /* Adjust to your desired width */
    height: 310px; /* Adjust to your desired height */
  }
  .textColumn {
    padding: 0em 1.5em;
    width: 100vw;
  }

  .ratingStars {
    flex-direction: column;
    display: flex;
    position: absolute;
    right: 80px;
  }
  .ratingStars img {
    width: 9em;
  }
}
