/* Base styles for card layout */
html,
body {
  font-family: Inter;
}

/* Changes color text to white*/
h1,
h2,
h3,
p,
span {
  background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 166, 0, 1) 98%
  );
  background-clip: text;
  color: transparent;
}

.card {
  transition: 0.4s;
  background-color: #393a3a;
}
.card:hover {
  transition: 0.6s;
  background-color: rgb(84, 84, 84);
}

/* Media queries for mobile and desktop */

/* [MOBILE VERSION CSS] */

@media screen and (max-device-width: 550px) {
  .card {
    margin: 2em 0em;
    width: 340px;
    height: 520px;
    border-radius: 30px;
    opacity: 0; /* Start with the card invisible */
    transition: opacity 1s ease-out; /* Smooth transition for the opacity */
    will-change: opacity; /* Optimize the opacity property for animations */
  }

  .card.is-visible {
    opacity: 1; /* Full opacity when the card is in view */
  }

  .row-info {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .row-info h2, h3, p, span {
    padding-left: 1em;
  }
  .row-info h1 {
    padding-left: 0.5em;
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
  }

  .imageContainer {
    width: 100%; /* Adjust to your desired width */
    height: 300px; /* Adjust to your desired height */
  }
}

@media screen and (min-device-width: 550px) and (max-device-width: 810px) {
  .card {
    margin: 1em 0em;
    width: 500px;
    height: 600px;
    border-radius: 30px;
    opacity: 0; /* Start with the card invisible */
    transition: opacity 1s ease-out; /* Smooth transition for the opacity */
    will-change: opacity; /* Optimize the opacity property for animations */
  }

  .card.is-visible {
    opacity: 1; /* Full opacity when the card is in view */
  }

  .row-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
  }

  .imageContainer {
    width: 100%; /* Adjust to your desired width */
    height: 300px; /* Adjust to your desired height */
  }
}

/*[DESKTOP CSS] */
@media screen and (min-width: 810px) {
  .card {
    width: 700px;
    height: 500px;
    opacity: 0; /* Start with the card invisible */
    transition: opacity 1s ease-out; /* Smooth transition for the opacity */
    will-change: opacity; /* Optimize the opacity property for animations */

    border-radius: 30px;
    margin: 25px 50px;
  }

  .card.is-visible {
    opacity: 1; /* Full opacity when the card is in view */
  }

  .row-info {
    display: flex;
  }

  .row-info h1 {
    font-size: 2em;
    font-weight: 800;
    background-clip: text;
    color: transparent;
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
  }

  .row-info p {
    font-size: 1.3em;
    justify-content: center;
    font-weight: 500;
    background-image: linear-gradient(
      150deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 166, 0, 1) 98%
    );
    background-clip: text;
    color: transparent;
  }

  /*RATINGS AND REVIEWS */
  .card span {
    font-size: 26px;
    color: #132151;
    display: flex;
    background-image: linear-gradient(
      150deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 166, 0, 1) 98%
    );
    background-clip: text;
    color: transparent;
  }
  .imageContainer {
    width: 300px; /* Adjust to your desired width */
    height: 500px; /* Adjust to your desired height */
  }
  .textColumn {
    padding: 0em 1.5em;
  }
}
