
.restaurant-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .restaurant-card img {
    float: left;
    margin-right: 10px;
  }
  
  .restaurant-card h2 {
    color: #333;
  }